{%- for type, messages in alerts %}
    {%- for message in messages %}
        <div class="alert alert-{{ type }} alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{- message -}}
        </div>
    {% endfor -%}
{% endfor -%}