{% extends 'SilvestraSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        {{ form_start(form) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock content %}