<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="Silvestra Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./src/Silvestra/Bundle/*/Tests</directory>
                <directory>./src/Silvestra/Bundle/*/Resources</directory>
                <directory>./src/Silvestra/Bundle/*/*/Tests</directory>
                <directory>./src/Silvestra/Bundle/*/*/Resources</directory>
                <directory>./src/Silvestra/Component/*/Tests</directory>
                <directory>./src/Silvestra/Component/*/Resources</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
