{% extends 'TadckaSitemapBundle::layout.html.twig' %}

{% block content %}
    <div class="row" id="tadcka-sitemap">
        <div class="col-md-3" id="tadcka-sitemap-tree"></div>
        <div class="col-md-9" id="tadcka-sitemap-content"></div>
    </div>
{% endblock %}
